<div class="body-div" [dir]="isArabic ? 'rtl' : 'ltr'">
  <h4 class="text-header">{{ isArabic ? 'تسجيل الدخول الى حسابك في Rookierise' : 'Log in to your Rookierise account' }}</h4>
  <p class="text-center">{{ isArabic ? 'من فضلك أدخل البريد الإلكتروني وكلمة المرور' : 'Please enter your email and password' }}</p>

  <div class="form-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <div class="radio-group">
          <label>
            <input class="usertype" type="radio" value="company" formControlName="userType">
            {{ isArabic ? 'شركة' : 'Company' }}
          </label>
          <label>
            <input class="usertype" type="radio" value="employee" formControlName="userType">
            {{ isArabic ? 'موظف' : 'Employee' }}
          </label>
        </div>
      </div>

      <div class="form-group">
        <label>{{ isArabic ? 'البريد الإلكتروني' : 'Email' }}<span class="required">*</span></label>
        <input type="email" class="form-field" formControlName="email" [placeholder]="isArabic ? 'البريد الإلكتروني' : 'Email'">
        <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)">
          <small class="error" *ngIf="loginForm.get('email')?.hasError('required')">
            {{ isArabic ? 'البريد الإلكتروني مطلوب' : 'Email is required' }}
          </small>
          <small class="error" *ngIf="loginForm.get('email')?.hasError('email')">
            {{ isArabic ? 'أدخل بريد إلكتروني صحيح' : 'Enter a valid email' }}
          </small>
        </div>
      </div>

      <div class="form-group">
        <label>{{ isArabic ? 'كلمة المرور' : 'Password' }}<span class="required">*</span></label>
        <div class="password-wrapper">
          <input [type]="showPassword ? 'text' : 'password'" class="form-field" formControlName="password" [placeholder]="isArabic ? 'كلمة المرور' : 'Password'">
          <i class="bi eye-icon" [class.bi-eye]="showPassword" [class.bi-eye-slash]="!showPassword" (click)="togglePassword()"></i>
        </div>
        <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)">
          <small class="error" *ngIf="loginForm.get('password')?.hasError('required')">
            {{ isArabic ? 'كلمة المرور مطلوبة' : 'Password is required' }}
          </small>
        </div>
      </div>

      <div class="forgot">
        <a routerLink="/forgot-password">{{ isArabic ? 'نسيت كلمة المرور؟' : 'Forget password?' }}</a>
      </div>

      <button type="submit" [disabled]="loginForm.invalid">{{ isArabic ? ' دخول' : 'Login' }}</button>

      <div class="remember">
        <input type="checkbox" formControlName="remember">
        <label>{{ isArabic ? 'تذكرني' : 'Remember me' }}</label>
      </div>

    </form>
  </div>

  <div class="toast-notification-success" [class.show]="showSuccess">
    <span>✓</span>
    <p style="margin-top: 10px; margin-left: 60px;">{{ isArabic ? 'تم تسجيل الدخول بنجاح' : 'Login successful' }}</p>
    <img src="assets/close.png" (click)="showSuccess = false" style="cursor:pointer; margin-left:auto;"/>
  </div>

  <div class="toast-notification--fail" [class.show]="showError">
    <p style="margin-top: 10px; margin-left: 60px;">{{ errorMessage }}</p>
    <img src="assets/close.png" (click)="showError = false" style="cursor:pointer; margin-left:auto;"/>
  </div>
</div>