
<div class="footer-div">
    <div >
    <hr class="line">
    <p class="text-center">Or you can</p>
    </div>
    <div class="footer-site">
    <div class="google-btn">
        <button class="btn">
            <img class="img" src="assets/google.png" alt="Google Logo">Sign in with Google     
        </button>

    </div>
    <div class="microsoft-btn">
        <button class="btn">
            <img class="img" src="assets/microsoft.png" alt="Microsoft Logo">Sign in with Microsoft     
        </button>

    </div>
    </div>
    <div class="signup-div">
    <button class="signup-btn" >Don't have an account?<a routerLink="/signup">Sign up now</a>
    </button>

    </div>
</div>