.line{ 
width: 100%;
max-width: 420px;
margin: 0px auto ;
color:  rgb(33, 37, 41);
}
.img{
     width: 20px;
  height: 20px;
  display: block;
}
.text-center{
    font-family: cairo;
    font-size: 17px;
    color:  rgba(33, 37, 41, 0.75);
    text-align: center;
    margin-top: 1px;
}
.signup-btn, .btn{
    font-family: cairo;
    font-size: 12px;
   background-color: white;
   border-radius: 15px;
   padding: 10px 35px;
   height: 50px;
       box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border: none;
   display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: rgb(10, 0, 61);
    transition: transform var(--transition-base, .16s ease-in-out);
}
.footer-site{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    
}
.signup-btn{
    font-size: 16px;
}
a{
    font-family: cairo;
    text-decoration: none;
    color: rgb(248, 61, 204);
}
.signup-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.signup-btn:hover, .btn:hover{

    cursor: pointer;
    transform: translateY(-2px);

}
.footer-div{
    background-color:rgb(245, 244, 244);
    padding-bottom: 20px;
    
}