<div class="footer-div" [dir]="isArabic ? 'rtl' : 'ltr'">
  <div>
    <hr class="line">
    <p class="text-center">{{ isArabic ? 'أو يمكنك' : 'Or you can' }}</p>
  </div>
  <div class="footer-site">
    <div class="google-btn">
      <button class="btn">
        <img class="img" src="assets/google.png" alt="Google Logo">{{ isArabic ? 'تسجيل الدخول بواسطة Google   ' : 'Sign in with Google' }}
      </button>
    </div>
    <div class="microsoft-btn">
      <button class="btn">
        <img class="img" src="assets/microsoft.png" alt="Microsoft Logo">{{ isArabic ? 'تسجيل الدخول بواسطة Microsoft' : 'Sign in with Microsoft' }}
      </button>
    </div>
  </div>
  <div class="signup-div">
    <button class="signup-btn">
      {{ isArabic ? 'ليس لديك حساب؟' : "Don't have an account?" }}
      <a routerLink="/signup">{{ isArabic ? 'سجل الآن' : 'Sign up now' }}</a>
    </button>
  </div>
</div>