<div class="form-wrapper">
  <form [formGroup]="companyForm" (ngSubmit)="onSubmit()">

    <!-- Company Name (English) -->
    <div class="form-group">
      <label>Company Name (English)<span class="required">*</span></label>
      <input type="text" class="form-field" formControlName="companyNameEn"
        >
      <ng-container *ngIf="companyForm.get('companyNameEn')?.invalid && (companyForm.get('companyNameEn')?.touched || companyForm.get('companyNameEn')?.dirty)">
        <small class="error" *ngIf="companyForm.get('companyNameEn')?.hasError('required')">
          Company Name (English) is required
        </small>
        <small class="error" *ngIf="companyForm.get('companyNameEn')?.hasError('englishOnly')">
must contain only Arabic characters.
        </small>
      </ng-container>
    </div>

    <!-- Company Name (Arabic) -->
    <div class="form-group">
      <label>Company Name (Arabic)<span class="required">*</span></label>
      <input type="text" class="form-field" formControlName="companyNameAr"
        >
      <ng-container *ngIf="companyForm.get('companyNameAr')?.invalid && (companyForm.get('companyNameAr')?.touched || companyForm.get('companyNameAr')?.dirty)">
        <small class="error" *ngIf="companyForm.get('companyNameAr')?.hasError('required')">
          Company Name (Arabic) is required
        </small>
        <small class="error" *ngIf="companyForm.get('companyNameAr')?.hasError('arabicOnly')">
must contain only Arabic characters.
        </small>
      </ng-container>
    </div>

    <!-- Email -->
    <div class="form-group">
      <label>Email<span class="required">*</span></label>
      <input type="email" class="form-field" formControlName="email">
      <ng-container *ngIf="companyForm.get('email')?.invalid && (companyForm.get('email')?.touched || companyForm.get('email')?.dirty)">
        <small class="error" *ngIf="companyForm.get('email')?.hasError('required')">
          Email is required
        </small>
        <small class="error" *ngIf="companyForm.get('email')?.hasError('email')">
          Enter a valid email
        </small>
      </ng-container>
    </div>

    <!-- Phone Number -->
    <div class="form-group">
      <label>Phone Number</label>
      <input type="tel" class="form-field" formControlName="phone" >
      <ng-container *ngIf="companyForm.get('phone')?.invalid && (companyForm.get('phone')?.touched || companyForm.get('phone')?.dirty)">
        <small class="error" *ngIf="companyForm.get('phone')?.hasError('invalidPhone')">
The phone number cannot contain letters.
        </small>
      </ng-container>
    </div>

    <!-- Website URL -->
    <div class="form-group">
      <label>Website URL<span class="required">*</span></label>
      <input type="text" class="form-field" formControlName="websiteUrl"
       >
      <ng-container *ngIf="companyForm.get('websiteUrl')?.invalid && (companyForm.get('websiteUrl')?.touched || companyForm.get('websiteUrl')?.dirty)">
        <small class="error" *ngIf="companyForm.get('websiteUrl')?.hasError('required')">
          Website URL is required
        </small>
        <small class="error" *ngIf="companyForm.get('websiteUrl')?.hasError('invalidUrl')">
          Please enter a valid URL (e.g., https://example.com).
        </small>
      </ng-container>
    </div>

<!-- Company Logo -->
<div class="form-group">
  <label>Company Logo</label>
  
  <div class="upload-area"
    (click)="fileInput.click()"
    (dragover)="$event.preventDefault()"
    (drop)="onDrop($event)"
   >

    <ng-container >
      <img class="upload-icon" src="assets/flat-color-icons_upload.svg" alt="upload"/>
      <p class="upload-text">
        Drag & drop files or <a class="browse-link">Browse</a>
      </p>
      <p class="upload-hint">Supported formats: JPEG, PNG</p>
    </ng-container>

    <input #fileInput type="file" accept=".jpg,.jpeg,.png,.gif"
      style="display:none" (change)="onFileSelected($event)">
  </div>

  <div class="file-row" *ngIf="logoPreview">
    <img [src]="logoPreview" alt="Logo Preview" class="logo-thumb" />
    <span class="file-name">{{ logoFileName }}</span>
    <div class="file-actions">
      <img src="assets/eyeicon.png" alt="preview" class="action-icon" (click)="openLogoPreview($event)"/>
      <img src="assets/close2.png" alt="delete" class="action-icon" (click)="removeLogo($event)"/>
    </div>
  </div>

 
      <small class="error" *ngIf="logoError">{{ logoError }}</small>
    </div>

    <!-- Submit -->
    <button type="submit" class="submit-btn" [disabled]="companyForm.invalid">
      Submit
    </button>

  </form>
<div class="toast-notification-success" [class.show]="showSuccess">
  <span>✓</span>
  <p style="margin-top: 10px;">check your email to set your password</p>
  <img src="assets/close.png" (click)="showSuccess = false" style="cursor:pointer; margin-left:auto;"/>
</div>

<div class="toast-notification--fail" [class.show]="showError">
  <p style="margin-top: 10px;">{{ errorMessage }}</p>
  <img src="assets/close.png" (click)="showError = false" style="cursor:pointer; margin-left:auto;"/>
</div>
  <div class="signup-div">
    <button class="signup-btn" >Already have an account?<a routerLink="/login">Login Here</a>
    </button>
</div>